<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><b><i>ROP</i></b></a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">




      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about">Haqımda</a>
        </li>


        <li class="nav-item active">
            <a class="nav-link" href="/articles">Məqalələr</a>
          </li>
        
      </ul>






      <ul class="navbar-nav ml-auto">

          {% if session["logged"] %}
              <li class="nav-item active">
                <a class="nav-link" href="/profil"><b>{{ session["username"] }}</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/chat">Chat</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/control">Control Paneli</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/logout">Cıxış Et</a>
              </li>

          {% else %}
                  <li class="nav-item active">
                    <a class="nav-link" href="/login">Giriş</a>
                  </li>
                            
                  <li class="nav-item active">
                    <a class="nav-link" href="/register">Qeydiyyat</a>
                  </li>
          {% endif %}
                
      </ul>

    </div>

  </nav>