{% extends "layout.html" %}

{% block body %}
    <h3>Haqqımda</h3>
    <hr>
        Hi my name is <b>Davud</b> Surname is <b>Haji</b>.I am Studying in <b>Azerbaijan Tecnical University</b> in Second Course.<br> 
        I am 19 year old so I love Programming various thinks and I am <b>FullStack Python Programmer</b>.<br>
        So I am Learn <b>Java</b> with <b>Kotlin</b> for Android Developing.
    <hr>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>    <br><br>
{% endblock body %} 